.question {
	color: var(--white);
	font-size: 1.3rem;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.answer {
	color: var(--fog);
	margin: 0;
	white-space: pre-wrap;
	word-break: break-word;
	word-wrap: break-word;
}

.space {
	line-height: 30px;
}
