.title {
	color: var(--white);
	margin: 0 0 20px 0;
	font-size: 1.375rem;
	font-weight: 700;
	text-align: center;
}

.withdraw {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.available {
	display: flex;
	align-items: center;
	color: var(--light-grey);
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
}

.text {
	margin: 0 5px 0 0;
}

.prizes {
	margin: 0 0 0 0;
}

.sats {
	width: 18px;
	height: 18px;
	filter: invert(39%) sepia(0%) saturate(5%) hue-rotate(191deg) brightness(103%) contrast(92%);
}

.line {
	border: none;
	background-color: var(--grey);
	height: 1px;
	width: 95%;
	margin: 20px 0;
}